header {
  text-align: center;
  font-size: 30px;
  color: #279EFF;
}

main, html {
  margin: 0;
  padding: 0;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0C356A;
}
